<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Site meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> </title>
    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/homeSender.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/homeSenderOrder.css">
    <!--===============================================================================================-->

</head>

<%- include ("layout.ejs") %>

    <body>
        <div class="container">
            <div class="row">
                <% orderList.forEach((orderDetail) => { %>
                    <div class="col-sm-6">
                        <div class="card" id="detail">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= orderDetail.menuName %>
                                </h5>
                                <p class="card-text">จำนวน:
                                    <%= orderDetail.qty %> แก้ว | ราคา:
                                        <%= orderDetail.price %> บาท</p>

                                <button type="button" class="btn btn-success" onclick="testSweet()">Confirm Order</button>

                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>




        <!-- Sweetalret2 script -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="/javascripts/homeSenderOrder.js"></script>
    </body>

</html>