<!DOCTYPE html>
<html>

<head>
    <title>Chern Savoey Demo V.3</title>
    <link href='https://fonts.googleapis.com/css?family=Kanit:400,300&subset=thai,latin' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/loginShop.css">
    <!--===============================================================================================-->
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="Login" class="sign-in-form" method="POST">
                    <div class="limiter">
                        <div class="container-login100">
                            <div class="wrap-login100">
                                <img src="/images/icon_chsv.png" alt="">
                            </div>
                        </div>
                    </div>
                    <a href="/auth/google" class="btn solid">
                        <i class= "fab fa-google"> </i> Login with KMUTT Google ACCOUNT
                    </a>
                    
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3 class="kmuttlogin-en">Please login with KMUTT ACCOUNT to use.</h3>
                    
                    <p class="how-to-kmutt-login"> <a href="https://sites.google.com/a/mail.kmutt.ac.th/kmutt-gapps-help-center/start-up">
                        Manual of KMUTT Google Account</a></p>
                    <div id="img"><img src="/images/sender-vector.svg" alt="chernsavoey-logo"></div>
                        
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/loginShop.js"></script>

</body>

</html>