<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Site meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> </title>
    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/noOrder.css">

    <!--===============================================================================================-->
</head>

<body>
    <%- include ("layout.ejs") %>
    <div class="content">
        <h5>Nothing's happening now</h5>
        <p>When you use our services, you'll see them here</p>
    </div>
    <script type="text/javascript">
        const currSessionStorage = sessionStorage.getItem("fo_menus");

        if (currSessionStorage) {
            // handle if have order
            window.location = "/orderSender"
        }
    </script>
</body>


</html>