@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');

.list-item__thumbnail {
    width: 30px;
  }
  
nav {
    font-family: 'Kanit' !important;
}

#navbar {
  background-image: linear-gradient(to right, #1d617a, #61c2a2);
}

#navbar a  {
    margin-left: 20px;
    color: aliceblue ;
}


