    .buttonUpdate {
        font-family: kanit;
        margin-top: auto;
    }
    
    .font {
        font-family: kanit;
    }
    /* .swal2-progress-steps .swal2-progress-step-line {
        width: 2em;
    } */
    
    .swal2-progress-steps .swal2-progress-step-line {
        z-index: 10;
        flex-shrink: 0;
        width: 2.1em;
        height: .4em;
        margin: 0 -20px;
        background: #2778c4;
    }
    
    .swal2-progress-steps {
        flex-wrap: wrap;
        align-items: center;
        max-width: 100%;
        margin: 0 0 0em;
        padding: 0;
        background: inherit;
        font-weight: 600;
    }
    
    .cart-text {
        font-size: 20px;
    }
    
    h2,
    h3 {
        font-size: 100%;
        font-weight: normal;
        text-align: center;
        font-family: Kanit;
    }
    
    ul,
    li {
        list-style: none;
    }
    
    p {
        font-family: Kanit;
    }
    
    ul li a {
        text-decoration: none;
        background: rgb(233, 233, 166);
        display: block;
        height: auto;
        width: 320px;
        padding: 1em;
        margin-top: 50px;
        box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
        -moz-transition: -moz-transform .15s linear;
        -o-transition: -o-transform .15s linear;
        -webkit-transition: -webkit-transform .15s linear;
    }
    
    ul li {
        margin: 1em;
        float: left;
    }
    
    ul li h2 {
        font-size: 140%;
        font-weight: bold;
        padding-bottom: 10px;
    }
    
    ul li p {
        font-family: "Reenie Beanie", arial, sans-serif;
        font-size: 180%;
    }
    
    ul li a {
        -webkit-transform: rotate(-6deg);
        -o-transform: rotate(-6deg);
        -moz-transform: rotate(-6deg);
    }
    
    ul li:nth-child(even) a {
        -o-transform: rotate(4deg);
        -webkit-transform: rotate(4deg);
        -moz-transform: rotate(4deg);
        position: relative;
        top: 5px;
        background: #cfc;
    }
    
    ul li:nth-child(3n) a {
        -o-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        position: relative;
        top: -5px;
        background: #ccf;
    }
    
    ul li:nth-child(5n) a {
        -o-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        position: relative;
        top: -10px;
    }
    
    ul li a:hover,
    ul li a:focus {
        box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
        -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
        -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        position: relative;
        z-index: 5;
    }
    
    ol {
        text-align: center;
    }
    
    ol li {
        display: inline;
        padding-right: 1em;
    }
    
    ol li a {
        color: #fff;
    }
    .storeName{
        color: rgb(68, 68, 75);
    }

    /* ------ */

    .card-title{
        font-size: 17px; 
        display: inline;
    }

    .menu{
        font-size:17px; 
        text-align: center; 
        display: inline;
    }

    .card-text{
        display: inline; 
    }

    .buttonChat{
        margin-left: 15px;
    }